*

!.gitignore

!.config
.config/**
!.config/alacritty/
!.config/alacritty/**
!.config/i3/
!.config/i3/**
!.config/rofi/
!.config/rofi/**
!.config/nvim/
!.config/nvim/**
!.config/dunst/
!.config/dunst/**
!Pictures/Wallpapers
!Pictures/Wallpapers/**


!.fonts
!.bashrc
!.gitconfig
!.gitignore
!.vim/
!.vim/config
!.tmux.conf
!.lesskey
!.ghci
!.tmux/plugins/tmux-powerline/themes/theme.sh
!.tmux-powerlinerc
